@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lora:wght@500;600&family=Poppins:wght@400;500&display=swap");
@import url('https://fonts.cdnfonts.com/css/valorant');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: #6a4040;
  --first-color-alt: hsl(19, 64%, 52%);
  --title-color: hsl(19, 16%, 10%);
  --text-color: hsl(19, 16%, 35%);
  --text-color-light: hsl(19, 8%, 55%);
  --body-color: #D1D5DB;
  --body-item-color:#b2b4b8;
  --body-white: #ffffff;
  --box-color:#DDDCD4;
  --containers-color-alt:#C8AB4d;
  --containers-color-yellow:#B58E3E;
  --containers-color: hsl(20, 45%, 14%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: montserrat, Verdana, Segoe, sans-serif;
  --title-font: "Roboto", sans-serif;;
  --nav-font: "Montserrat", sans-serif;
  --subtitle-font: montserrat, Verdana, Segoe, sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.4rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: 12px;
  }
}
  /*========== Variables Dark theme ==========*/
  body.dark-theme{
    --first-color: hsl(19, 100%, 97%);
    --first-color-alt: hsl(19, 100%, 97%);
    --title-color: hsl(19, 16%, 85%);
    --text-color: hsl(19, 16%, 65%);
    --text-color-light: hsl(19, 8%, 55%);
    --box-color:#181D1F;
    --body-color: #263238;
    --body-item-color: #314149;
    --containers-color: hsl(19, 10%, 10%);
    --containers-color-alt: #9858F1;
    --containers-color-yellow:#B142F5;
  }

  .ri-sun-line{
    color: var(--first-color);
  }

   /*==========
      Color changes in some parts of
      the website, in light theme
  ==========*/
.dark-theme .bg-header,
.dark-theme .nav__menu,
.dark-theme .scrollup{
  box-shadow: 0 2px 8px hsla(19, 64%, 4%, .5);
}

.dark-theme .popular__card{
  box-shadow: 0 8px 20px hsla(19, 64%, 4%, .2);
}

.dark-theme .newsletter__content{
  background-color: var(--containers-color);
}

.dark-theme .newsletter__form,
.dark-theme .newsletter__input{
  background-color: var(--body-color);
}

.dark-theme::-webkit-scrollbar{
  background-color: hsl(19, 8%, 15%);
}

.dark-theme::-webkit-scrollbar-thumb{
  background-color: hsl(19, 8%, 25%);
}

.dark-theme::-webkit-scrollbar-thumb:hover{
  background-color: hsl(19, 8%, 35%);
}

.dark-theme .nav__logo > img{
  content: url("/assets/img/logo2.png") !important;
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html {
    scroll-behavior: smooth;
  }

  body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    transition: background 0.4s; /* for dark mode animation */
  }

  h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-medium);
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }

  a {
    text-decoration: none !important;
    
  }

  img {
    max-width: 100%;
    height: auto;
  }

  /*=============== THEME ===============*/
  .nav__buttons{
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }
  
  .change-theme{
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
    transition: color .3s;
  }
  

 /*=============== REUSABLE CSS CLASSES ===============*/
  .containers {
  position: relative;
    max-width: 1024px;
    margin-inline: 1.5rem;
  }

  

  .sections {
    padding-block: 8rem 1rem ;
  }

  .section__title {
    font-size: var(--h1-font-size);
    font-family: var(--title-font);
    margin-bottom: 1.5rem;
  }

  .section__subtitle {
    display: block;
    font-size: var(--h1-font-size);
    font-family: var(--body-font);
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--first-color);
  }
  .section__des{
    display: block;
    font-size: var(--body-font);
    color: var(--first-color);
  }

  .section__title{
    text-align: center;
  }

  .main {
    overflow: hidden; /* For animation ScrollReveal */
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--body-color);
  }

  .horizontal{
    background-color: var(--containers-color-yellow);
    width: 80%;
    height: 2px;
    margin: 15px 0;
  }
  /*=============== HEADER & NAV ===============*/
  .header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
    transition: box-shadow .3s background .4s;
  }
  
  .nav{
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav__logo,
  .nav__toggle,
  .nav__close{
    display: flex;
    color: var(--title-color);
  }
  
  .nav__logo{
    align-items: center;
    column-gap: .5rem;
    font-family: var(--title-font);
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    transition: color .3s;
  }
  
  .nav__logo img{
    width: 150px;
  }
  
  .nav__logo:hover{
    color: var(--first-color);
  }
  
  .nav__toggle{
    font-size: 1.25rem;
    cursor: pointer;
  }
  .nav__menu-list{
    display: flex;
    flex-direction: row;
  }

  .header .nav__content{
    background-color: var(--containers-color-alt);
    position: relative;
    display: flex;
    height: var(--header-height);
    align-items:center;
    color: var(--title-color);
  }
  
  .search{
    position: relative;
    width: 45px;
    height: 45px;
    background-color: #fff;
    border-radius: 10px;
    transition: 0.5s;
    overflow: hidden;
    margin-right: 1rem;
  }

  .search.active{
    width: 360px;
  }
  .search .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background: var(--containers-color-alt);
    color: var(--title-color);
    font-weight: 700;
    cursor: pointer;
  }


  .search .icon::before{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    
  }

  .search .input{
    position: relative;
    width: 300px;
    height: 100%;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search .input input{
    position: absolute;
    top: 0;
    border: none;
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 1rem;
    padding: 10px 0;
  }

  .clear{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    right: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--title-color);
  }
  .nav__item{
    padding: 10px 0;
  }

  .dropdown-menu{
    padding: .5rem;
    background-color: var(--body-color);
    width: 560px !important; 
    height: 210px !important;
  }

.dropdown-item:hover{
  background-color: var(--body-item-color);
  color: var(--title-color);
}

  .dropdown-item{
    font-size: var(--normal-font-size);
    color: var(--title-color);
    border-radius: 3px;
  }
  .item-main{
    font-size: 14px;

  }

  /* Menu Dropdown */
  .nav__item:hover .dropdown-menu {
    margin-top: .7rem !important;
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */
  }











  @media screen and (max-width:767px){
    .nav__menu{
      position: fixed;
      top: -100%;
      left: 0;
      background-color: var(--body-color);
      width: 100%;
      box-shadow: 0 8px 20px hsl(19, 64%, 24%, .1);
      padding-block: 3.5rem;
      transition: top .4s;
    }
  }
  
  .nav__list{
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 2rem;
    justify-content: center;
    margin: auto;
  }
  
  .nav__link{
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: color .4s;
  }
  
  .nav__link:hover{
    color: var(--first-color);
  }
  
  .nav__close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
  }

  /* Show menu */

  .show-menu{
    top: 0;
  }
    /* Change background header */
  .bg-header{
    box-shadow: 0 2px 8px hsla(19, 64%, 24%, .1);
  }
  
    /* Active link */
  .active-link{
    color: var(--first-color);
  
  }

  .nav__login{
    color: var(--first-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
  }

  .nav__login div {
    min-width: 120px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .nav__buttons{
    position: relative;
    width: 45px;
    height: 45px;
    background-color: var(--containers-color-alt);
    border-radius: 10px;
    transition: 0.5s;
    overflow: hidden;
    margin-right: 1rem;
    justify-content: center;
    align-items: center;
  }
  
  .nav__login div > a{
    color: var(--title-color);
  }
  .btn__login:hover a{
    color: var(--title-color);;
  }
  .btn__regis{
    background-color: var(--containers-color-alt);
    text-align: center;
    width: 80%;
    font-size: var(--body-font);
    border-radius: 5px;
    justify-content: center;
    font-weight: var(--font-medium);
    margin: auto;
    padding: .7rem 1.25rem;
    cursor: pointer;
  }
  .nav__login .btn__regis{
    margin-right: 1rem;
  }
  .btn__regis a{
    color: var(--title-color);
  }
  .btn__regis:hover{
    background-color: var(--containers-color-yellow);
  }

.main__bottom{
  position: relative;
  display: grid;
  grid-template-columns: 75% 25%;
}
  


    /*=============== HOME ===============*/
.home{
  position: relative;
}

.home__container{
  align-items: center;
}

.home__carousel{
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.top__container{
  position: relative;
  width: 100%;
  padding-top: 3rem;
  align-items: center;
  left: 0;
}

.top__container .item-chapter{
  background-color: #000;

}


.slick-prev:before, .slick-next:before {
  content: "";
  
}
.main__bottom{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-rows: 70% 30%;
}

.main__right{
  margin-left: 1rem;
  width: 100%;
}

.main__right .bg{
  background-image: url(../img/Không\ tiêu\ đề.png);
}

.main__random{
  position: relative;
  width: 100%;
  height: 220px;
  padding: .8rem;
  margin-bottom: .8rem;
  background-color: var(--box-color);
  border-radius: 10px;
}


.main__random .item-content .item-des{
  color: var(--title-color);
  margin-bottom: 1.5rem;
}

.main__random .content a{
  color: var(--first-color);
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.background{
  position: absolute;
  top: 0;
  width: 100%;
  height: 37rem;
  background: linear-gradient( to top ,var(--containers-color-alt) , var(--body-white));
  opacity: .4;
}
.item-infor{
  position:absolute;
  bottom: 0;
  width: 100%;
  z-index: 10000;
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 20px;
}

.item-infor .content>a{
  color: var(--body-white) !important;
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
} 

.item-infor .item-des{
  color: hsl(19, 8%, 55%);
  font-size: var(--title-font);
  font-weight: var(--font-medium);
}
.background-item{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0) 20%, rgba(0,0,0,0.5942752100840336) 76%, rgba(0,0,0,0.9023984593837535) 100%);  
}

.btn-infor{
  background-color: var(--containers-color-alt);
  text-align: center;
  width: 40%;
  font-size: var(--body-font);
  border-radius: 5px;
  justify-content: center;
  font-weight: var(--font-medium);
  margin: auto;
  padding: .7rem 1.25rem;
  cursor: pointer;
}



.btn-infor a{
  color: var(--title-color);
}
  /*=============== FOOTER ===============*/
  .footer{
    position: relative;
    padding-block: 3rem 2rem;
    overflow: hidden;
    transition: background 0.4s;
  }
  
  .footer__container{
    row-gap: 3rem;
  }
  
  .footer__logo{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    color: var(--title-color);
    font-size: var(--h3-font-size);
    font-family: var(--title-font);
    font-weight: var(--font-semi-bold);
    margin-bottom: 1rem;
    transition: color .3s;
  }
  
  .footer__logo img{
    width: 25px;
  }
  
  .footer__logo:hover{
    color: var(--first-color);
  }
  
  .footer__description,
  .footer__link,
  .footer__information{
    font-size: var(--small-font-size);
  }
  
  .footer__content,
  .footer__links{
    display: grid;
  }
  
  .footer__content{
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    align-items:start;
  }
  
  .footer__title{
    font-size: var(--h3-font-size);
    margin-bottom: 1.5rem;
  }
  
  .footer__links{
    row-gap: .5rem;
  }
  
  .footer__link{
    color: var(--text-color);
    transition: color .3s;
  }
  
  .footer__link:hover{
    color: var(--first-color);
    column-gap: 1.25rem;
  }
  
  .footer__social-link{
    color: var(--first-color);
    font-size: 1.25rem;
    transition: color .3s, transform .3s;
  }
  
  .footer__social-link:hover{
    color: var(--first-color-alt);
    transform: translateY(-5px);
  }
  
  .footer__onion,
  .footer__leaf{
    width: 30px;
    position: absolute;
  }
  
  .footer__onion{
    top: 7.5rem;
    right: 5rem;
    transform: rotate(-45deg);
  }
  
  .footer__leaf{
    bottom: 8rem;
    left: 3rem;
    transform: rotate(30deg);
  }
  
  
  .footer__branch{
    position: absolute;
    width: 100px;
    opacity: .2;
    bottom: 6rem;
    right: -2rem;
    transform: rotate(-15deg);
  }
  
  .footer__info,
  .footer__card{
    display: flex;
  }
  
  .footer__info{
    margin-top: 6.5rem;
    flex-direction: column;
    row-gap: 1.5rem;
  }
  
  .footer__card{
    column-gap: 1rem;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
  }
  
  .footer__card img{
    width: 40px;
  }
  
  .footer__copy{
    text-align: center;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
  }
/* New update */

.update__container {
  width: 100%;
  margin: 1rem 0;
}

.update-item {
  padding: 10px;
  margin-bottom: .8rem;
  width: 180px;
  float: left;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  align-items: center;
}

.update-item img{
  width: 160px !important;
  height: 240px !important;
  max-width: 160px;
  vertical-align: middle;
  position: relative;
  border-radius: 7px;
  box-shadow: #000 0 0 0;
  text-align: center;
  overflow: hidden;
}

.update-item figcaption{
  text-align: left;
  margin-top: 10px;
}

.item-title>a{
  font-size: var(--normal-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-bottom: 8px;
}
.item-chapter{
  width: 100%;
  justify-content: space-between;
}
.item-chapter .chap{
  color: var(--title-color) !important;
  font-weight: var(--font-medium);
}

.item-chapter .time{
  color: var(--text-color-light);
}









  @media screen and (max-width: 340px) {
    .containers{
      margin-inline: 1rem;
    }
  
    .section{
      padding-block: 4rem 1rem;
    }
  
    .home__title{
      font-size: 2rem;
    }
  
    .newsletter__content{
      padding: 6rem 1rem 2rem;
    }
  
    .newsletter__form{
      flex-direction: column;
      background: none;
      row-gap: 1rem;
    }
    .newsletter__input{
      width: initial;
      padding: 1rem;
      border-radius: 4rem;
    }
  
    .newsletter__button{
      justify-content: center;
    }
  
    .footer__content{
      gap: 1.5rem;
    }
  }
  
    /* For medium devices */
  @media screen and (min-width:576px){
    .home__containers,
    .about__containers,
    .resently__containers,
    .newsletter__content{
      grid-template-columns: .7fr;
      justify-content: center;
    }
  
    .footer__content{
      grid-template-columns: repeat(3,max-content);
    }
  }
  
  @media screen and (min-width: 767px){
    .nav{
      column-gap: 3rem;
    }
  
    .nav__toggle,
    .nav__close,
    .nav__image-1,
    .nav__image-2{
      display: none;
    }
  
    .nav__list{
      flex-direction: row;
      column-gap: 3rem;
      font-family: var(--nav-font);

    }
    .nav__menu{
      margin-left: auto;
    }
  
    .dark-theme .nav__menu{
      box-shadow: none;
    }
  
    .popular__containers{
      grid-template-columns: repeat(2,250px);
    }
  
    .footer__content{
      grid-template-columns: repeat(4,max-content);
    }
  }
    /* For large devices */
  
  @media screen and (min-width: 1024px) {
    .section{
      padding-block: 7rem 1.5rem;
    }
  
    .nav__side .nav{
      height: calc(var(--header-height) + 1.5rem);
    }
  
    .nav__content .nav{
      height: calc(var(--header-height) + .5rem);
    }
    .home__containers{
      position: relative;
      grid-template-columns: 480px 500px;
      padding-block: 7rem 3rem;
    }
  
    .home__data{
      text-align: initial;
      order: -1;
    }
  
    .home__title img{
      width: 60px;
    }
    .home__title div{
      justify-content: initial;
      column-gap: 1rem;
    }
  
    .home__description{
      padding-inline: 0 10rem;
    }
  
    .home__img{
      width: 600px;
      position: absolute;
      top: 5rem;
      right: -2rem;
    }
  
    .about__containers{
      grid-template-columns: 450px 360px;
      align-content: center;
      column-gap: 7rem;
    }
  
    .about__data{
      order: 1;
    }
  
    .about__data,
    .about .section__subtitle,
    .about .section__title{
      text-align: initial;
    }
  
    .about__title div{
      column-gap: 1rem;
      justify-content: initial;
    }
  
    .about__title img{
      width: 50px;
    }
  
    .about__img{
      width: 450px;
    }
  
    .popular__containers{
      grid-template-columns: repeat(3,262px);
      column-gap: 3.5rem;
      padding-block: 6rem 4rem;
    }
  
    .popular__card{
      padding: 7.5rem 2rem 2rem;
      border-radius: 1.5rem;
    }
  
    .popular__img{
      width: 230px;
    }
  
    .popular__button{
      bottom: 2rem;
    }
  
    .resently__containers{
      grid-template-columns: 350px 480px;
      align-items: center;
      column-gap: 7rem;
      padding-bottom: 2rem;
    }
  
    .resently__data,
    .resently .section__subtitle,
    .resently .section__title{
      text-align: initial;
    }
  
    .resently__data-img{
      width: 30px;
      top: 5.5rem;
      right: 2.5rem;
    }
  
    .resently__img{
      width: 480px;
    }
  
    .newsletter__content{
      grid-template-columns: 350px 360px;
      align-items: center;
      column-gap: 6rem;
      padding: 2.5rem 0;
      border-radius: 4.5rem;
    }
  
    .newsletter__img{
      position: initial;
      width: 350px;
    }
  
    .newsletter .section__subtitle,
    .newsletter .section__title{
      text-align: initial;
    }
  
    .newsletter .section__title{
      margin-bottom: 2.5rem;
    }
  
    .newsletter__form{
      padding: 8px 8px 8px 24px;
    }
  
    .newsletter__button{
      font-size: var(--normal-font-size);
    }
  
  
    .footer{
      padding-block: 8rem 3rem;
    }
  
    .footer__containers{
      grid-template-columns: repeat(2, max-content);
    }
  
  
    .footer__title,
    .footer__description,
    .footer__link,
    .footer__information{
      font-size: var(--normal-font-size);
    }
  
    .footer__social-link{
      font-size: 1.5rem;
    }
  
    .footer__info{
      flex-direction: row;
      justify-content: space-between;
      margin-top: 8.5rem;
    }
  
    .footer__copy{
      order: -1;
      font-size: var(--font-medium);
    }
    .scrollup{
      right: 3rem;
    }
  }
  
  @media screen and (min-width: 1064px){
    .containers{
      margin-inline: auto;
    }
  }
  
  @media screen and (min-width: 1280px){

    .containers{
      min-width: 1280px;
    }
  }